<main>
  <h1>Liste des articles</h1>
  <div class="content">
    <nav>
      <button title="Rafraîchir" (click)="refresh()">
        <fa-icon [icon]="faRotateRight"></fa-icon>
      </button>
      <button title="Ajouter" routerLink="add">
        <fa-icon [icon]="faPlus"></fa-icon>
      </button>
      <button
        title="Supprimer"
        [hidden]="selectedArticles.size === 0"
        (click)="delete()"
      >
        <fa-icon [icon]="faTrash"></fa-icon>
      </button>
    </nav>
    <table>
      <thead>
        <tr>
          <th class="name">Nom</th>
          <th class="price">Prix</th>
          <th class="qty">Quantité</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let article of articleService.articles"
          (click)="toggle(article)"
          [class.selected]="selectedArticles.has(article)"
        >
          <td class="name">{{ article.name }}</td>
          <td align="center" class="price">{{ article.price }} €</td>
          <td align="center" class="qty">{{ article.qty }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</main>
