<main>
  <h1>Liste des articles</h1>
  <div class="content">
    <nav>
      <button>Rafraîchir</button>
      <button routerLink="add">Ajouter</button>
      <button>Supprimer</button>
    </nav>
    <table>
      <thead>
        <tr>
          <th class="name">Nom</th>
          <th class="price">Prix</th>
          <th class="qty">Quantité</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="name">Tournevis</td>
          <td class="price">1,50 €</td>
          <td class="qty">35</td>
        </tr>
        <tr>
          <td class="name">Marteau</td>
          <td class="price">2,50 €</td>
          <td class="qty">18</td>
        </tr>
        <tr>
          <td class="name">Pelle</td>
          <td class="price">4,50 €</td>
          <td class="qty">10</td>
        </tr>
        <tr>
          <td class="name">Scie</td>
          <td class="price">1,50 €</td>
          <td class="qty">5</td>
        </tr>
      </tbody>
    </table>
  </div>
</main>
