<main>
  <h1>Mentions légales</h1>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente possimus
    reiciendis nostrum libero ad, saepe vero unde officiis, blanditiis beatae
    voluptas repellat, quod suscipit doloremque itaque excepturi laborum et
    neque?
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident delectus
    eligendi omnis neque consectetur et nisi deleniti aliquam optio ab. Veniam
    natus dolores sit dolore fugiat facere atque nulla accusamus? Lorem, ipsum
    dolor sit amet consectetur adipisicing elit. Tenetur, eaque, placeat
    laboriosam enim sunt nam repudiandae corrupti praesentium sequi animi quia
    molestias, facere nostrum veritatis illo? Nemo officia modi quod? Lorem
    ipsum dolor sit, amet consectetur adipisicing elit. Doloremque, saepe
    consequuntur unde facere dolorem tempora aliquam sed. Sequi nesciunt optio
    explicabo cumque, nisi doloribus vero placeat nulla sint corporis provident.
  </p>
  <p>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellendus quas
    voluptas a pariatur officiis ad nisi accusamus optio, ab nesciunt,
    doloremque aliquam quasi, nemo non nulla praesentium similique atque sunt.
  </p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium ipsam
  nulla ab repellendus in voluptates soluta alias ad unde, illum illo sequi
  tempore, nam quidem odit voluptatum sunt ullam? Ducimus. Lorem ipsum, dolor
  sit amet consectetur adipisicing elit. Harum explicabo laudantium illum
  expedita? Cumque, vel suscipit sed sunt ducimus, alias quis aliquid
  accusantium quisquam, repellat exercitationem error iste nesciunt? Eveniet.
</main>
