/* You can add global styles to this file, and also import other style files */

@import "../node_modules/normalize.css/normalize.css";
@import "../node_modules/sanitize.css/sanitize.css";
@import "./scss/button.scss";

body {
  font-family: "Source Sans Pro", system-ui, -apple-system, "Segoe UI", Roboto,
    Ubuntu, Cantarell, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

main {
  display: flex;
  flex-flow: column;
  align-items: center;
  padding: 0.5em;
  width: 100%;
  max-width: 100ch;
  margin: 0 auto;

  h1 {
    text-align: center;
  }
}
