@import "variables.scss";

button {
  padding: 0.5em 1em;
  border: 0.1em solid #eee;
  background-color: #eee;
  border-radius: $border-radius;

  &:not(:disabled) {
    cursor: pointer;

    &:hover {
      border-color: #000;
      background-color: #ddd;
    }

    &:active {
      border-color: #000;
      background-color: #ccc;
    }
  }
}
